// MDC Theme
$mdc-theme-primary: #501fc2;
$mdc-theme-on-primary: #fff;

$mdc-theme-secondary: #424242;;
$mdc-theme-on-secondary: #fff;

$mdc-theme-error: #e84e4e;
$mdc-theme-on-error: #fff;

$mdc-theme-background: #323232;
$mdc-theme-surface: #fff;

// MDC SCSS files
@import 'material-components-web/material-components-web';